<div class="jumbotron">
	<div class="container">
    	<h1 class="display-2">
    		HTML Emailer Service
    	</h1>
    	<p>
    		This is a simple service that allows you to upload an HTML file to use to send 
    		to prospective clients or for testing purposes. 
    	</p>
    	<p>
    		Why does this service exist? There is no easy way to send HTML emails in most 
    		native e-mail clients.  This makes things easier.
    	</p>
    	<p>
    		This site does not store any of your personal data and you must have an existing 
    		email service to send emails with.  All data is cleared when you close your browser.  
    		All code is open source and available to anyone who is interested.
    	</p>
    	<p>
    		If you are using a Gmail account you will have to enable 3rd Party Services. Go to 
    		this <a href="https://support.google.com/a/answer/6260879?hl=en" target="_blank" 
    		rel="nofollow">article</a> for 
    		instructions.  Remember, you can only send up to 500 emails per day from gmail.
    	</p>
    	<p>
    		This site requires you to input your email and password to use.  I would like to 
    		warn you that this is not a best security practice.  Who knows, I might steal it 
    		and be a dick about it.  Instead, I recommend you download this app from my Github 
    		and run it on your own local host so you can verify that none of your data is being 
    		stolen.  You can find the source code on my Github
    		<a href="https://github.com/lvaka/html_emailer" 
    		target="_blank" rel="nofollow">here.</a>  Seriously, don't trust me unless you know 
    		me, Eric J Shin and I've assured you that this site is safe.  That's like common 
    		sense my man/woman/other.  Use this live site at your own risk!
    	</p>
    </div>
</div>